:host {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px 0 40px;
}

.card-container {
  display: flex;
  width: fit-content;
  gap: 10px;
}

.card {
  width: 140px;
  padding: 30px 0;
  font-size: 22px;
  cursor: pointer;
  background-color: #2b4e87;
  border-radius: 7px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 150ms ease-in-out;
}

.card:hover {
  background-color: #3965ad;
}

// conecting line card with the same joining ID
.child::before {
  content: "";
  position: absolute;
  height: 80%;
  width: 20px;
  left: -10px;
  background-color: #203d74;
  z-index: -1;
}

// status of bar for Card or group
.open::before,
.closed::before,
.orange::before {
  content: "";
  position: absolute;
  border-radius: 0 10px 10px 0;
  left: 0;
  width: 6px;
  height: 80%;
  background-color: #f4e700;
}

.closed::before {
  background-color: #f64d25;
}

.orange::before {
  background-color: #ff9800;
}
