<div class="card-container" *ngFor="let content of contentCard; let i = index">
  <div
    [id]="content.sku"
    [title]="'Item ' + content.sku + ', Area ' + numArea"
    class="card"
    [ngClass]="{
      open: statusOfCard[i] === 'open',
      closed: statusOfCard[i] === 'closed',
      orange: statusOfCard[i] === 'neutral'
    }"
    (click)="onClick($event)"
  >
    <app-item [sku]="content.sku" [defaultSku]="content.defaultSku"></app-item>
  </div>
  <div
    [id]="item.sku"
    [title]="'Item ' + item.sku + ', Area ' + numArea"
    class="card child"
    *ngFor="let item of contentCard[i].joinedWithChild"
    (click)="onClick($event)"
  >
    <app-item [sku]="item.sku" [defaultSku]="item.defaultSku"></app-item>
  </div>
</div>
